.card {
  box-shadow: var(--mantine-shadow-sm);
  padding: var(--mantine-spacing-lg);
  border-radius: var(--mantine-radius-md);
  border: 1px solid var(--mantine-color-default-border);
  transition: box-shadow 0.15s, translate 0.15s;
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;

  &:hover {
    box-shadow: var(--mantine-shadow-md);
    translate: 0 -1px;
  }
}

.cardHeader {
  justify-content: space-between;
  margin-bottom: var(--mantine-spacing-md);
}

.fieldGroup {
  column-gap: 6px;
  margin-bottom: 2px;
}

.fieldLabel {
  font-size: var(--mantine-font-size-xs);
  color: var(--mantine-color-dimmed);
  text-transform: uppercase;
  font-weight: 600;
}

.fieldValue {
  font-size: var(--mantine-font-size-sm);
}

.fieldsStack {
  row-gap: var(--mantine-spacing-md);
  flex: 1;
}
