.grid {
  display: grid;
  grid-template-columns: 1fr;
  gap: var(--mantine-spacing-md);
  align-items: stretch;
}

.cardWrapper {
  display: flex;
}

@media (min-width: 48em) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 75em) {
  .grid {
    grid-template-columns: repeat(4, 1fr);
  }
}
